body{
    margin: 0;
    padding: 0;
    background-color: black;
     box-sizing: border-box;
}





nav{
    height: 30px;
    justify-content: space-between;
    background-color: black;
    display: flex;
    padding: 0 50px 0 100px;
    align-items: center;
}

nav .logo{
    
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 200px;
}
nav .logo .h{
    color: white;
    

}

nav .logo .mc{
    color: green;
    

}





















.head{
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 100%;
    float: left;
    background-image: url("web1pic/pexels-sebastiaan-stam-1097456.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.head h1{
    background-color: white;
    float: left;
    width: 100%;
    text-align: center;
}
.home{
    width: 10%;
    background-color: rgb(18, 22, 22);
    float: left;
    margin-left: 5px;
    text-align: center;
    color: white;

}
.home a{
    text-decoration: none;
    color: white;
}
.home:hover{
    background-color: green;
    transition: 0.5s;

} 
.contact{
    width: 10%;
    background-color: rgb(18, 22, 22);
    float: left;
    margin-left: 5px;
    text-align: center;
    color: white;

}
.contact a{
    text-decoration: none;
    color: white;
     transition: 1s;
} 
.contact:hover{
    background-color: green;
    

}
 #formid:hover{
    transition: 1s;

}

.about{
    width: 10%;
    background-color: rgb(18, 22, 22);
    float: left;
    margin-left: 5px;
    text-align: center;
    color: white;
}
.about:hover{
    background-color: green;
    transition: 0.5s;

}  
.about a{
    text-decoration: none;
    color: white;
}
.searchbox {
  margin-left: 75%;
    box-sizing: none;
    height:20px
  
  
}
.searchbox input{
     box-sizing: none;
    height:20px
}
.searchbox button{
    background-color: rgb(18, 22, 22);
    color: white;
    cursor: pointer;
    
    
}
.searchbox button:hover{
    background-color: gray;
}
.blank{
    width: 100%;
    height: 30px;
    background-color: rgb(170, 46, 46);
    float: left;

}
.blank marquee{
    color: yellow;
}
.line{
    float: left;
    background-color: black;
    width: 100%;
    height: 5px;
    
}
.movies{
    float: left;
    
    width: 100%;
    height: 45px;
    margin-top: 20px;
    
}
.movies h2 {
    margin-left: 10px;
    color: red;
}
.movie1{
    float: left;
    width: 20%;
    height: 300px;
    margin-top: 10px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    
    
    
}
.movie1:hover{
    background-color: green;
    transition: 0.5s;
}
.movie1 a{
    text-decoration: none;
    color: white;
}
.movie2{
    float: left;
    width: 20%;
    height: 300px;
    margin-top: 10px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    color: white;

}
.movie2:hover{
    background-color: green;
    transition: 0.5s;
}
.movie2 a{
    text-decoration: none;
    color: white;
}
    .movie3{
    float: left;
    width: 20%;
    height: 300px;
    margin-top: 10px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    color: white;

}
.movie3:hover{
    background-color: green;
    transition: 0.5s;
}
.movie3 a{
    text-decoration: none;
    color: white;}
.movie4{
    float: left;
    width: 20%;
    height: 310px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    color: white;
    
    
    
}
.movie4:hover{
    background-color: green;
    transition: 0.5s;
}
.movie4 a{
    text-decoration: none;
    color: white;}
.movie5{
    float: left;
    width: 20%;
    height: 310px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    color: white;
    
    
}
.movie5:hover{
    background-color: green;
    transition: 0.5s;
}
.movie5 a{
    text-decoration: none;
    color: white;}
.movie6{
    float: left;
    width: 20%;
    height: 310px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    color: white;
    
    
}
.movie6:hover{
    background-color: green;
    transition: 0.5s;
}
.movie6 a{
    text-decoration: none;
    color: white;}
.movie7{
    float: left;
    width: 20%;
    height: 310px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    color: white;
    
    
}
.movie7:hover{
    background-color: green;
    transition: 0.5s;
}
.movie7 a{
    text-decoration: none;
    color: white;}
.movie8{
    float: left;
    width: 20%;
    height: 310px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    color: white;
    
    
}
.movie8:hover{
    background-color: green;
    transition: 0.5s;
}
.movie8 a{
    text-decoration: none;
    color: white;
}
.movie9{
    float: left;
    width: 20%;
    height: 310px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    
    
    
}
.movie9:hover{
    background-color:green;
    transition: 0.5s;
    color: black;
}
.movie9 a{
    text-decoration: none;
    color: white;
}

.movie10{
    float: left;
    width: 20%;
    height: 300px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(18, 22, 22);
    border: 2px solid  black;
    box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
    
    
    
}
.movie10:hover{
    background-color: green;
    transition: 0.5s;
}
.movie10 a{
    text-decoration: none;
    color: white;
}

.nextbuttondiv{
    width: 100%;
    float: left;
     margin-top: 25px;
   background-color:  black;

}
.nextbuttondiv button{
    background-color:  rgb(18, 22, 22);
    align-content: center;
    width: 8%;
    letter-spacing: 1px;
    border: 1px solid white;
    margin-left: 46%;
    border-radius: 5px;
    

}
.nextbuttondiv button a{
    text-decoration: none;
    color: white;

}
.nextbuttondiv button:hover{
    background-color: green;
    transition: 0.5s;
}
.nextprebtn{
    width: 100%;
    float: left;
     margin-top: 25px;
    background-color:  black;
    display: inline;
  
    

    

}

.nextprebtn .nextbtn{
    background-color:  rgb(18, 22, 22);
    
    width: 8%;
    letter-spacing: 1px;
    border: 1px solid white;
    margin: 5px;
    border-radius: 5px;
    align-content: center; 
    
      

}

.nextprebtn .nextbtn a{
    text-decoration: none;
    color: white;

}

.nextprebtn .nextbtn:hover{
     background-color: green;
    transition: 0.5s;
}

.nextprebtn .prebtn{
    background-color:  rgb(18, 22, 22);
    align-content: center;
    width: 8%;
    letter-spacing: 1px;
    border: 1px solid white;
    margin: 5px;
    border-radius: 5px;
     
    
      

}
.nextprebtn .prebtn a{
    text-decoration: none;
    color: white;

}

.nextprebtn .prebtn:hover{
    background-color: green;
    transition: 0.5s;
}
.nextprebtn .pgnumber{
    float: left;
    background-color: black;
    width: 8%;
    margin-left: 90%;
    
    border-radius: 2px;
    color: green;
    text-align: center;
}




















.pnumber{
    /*margin-top: :
    background-color: ;*/
    width: 100%;
  
    text-align: center;
    float: left;
    margin-top: 35px;  
    
  
  
  }

.pnumber a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid red;
   
}
.pnumber a:hover{
    background-color: antiquewhite;
    color: black ;
    border: 1px solid green;
}
.pnumber a .i{
    color: blue;
}



































.formdiv{
    float: left;
    background-color: rgb(18, 22, 22);
    width: 40%;
    height: 400px;
    margin-left: 30%;
    margin-top: 50px;
    box-shadow: 20px 15px 12px 0px black;
    
}
.formdiv h3{
    text-align: center;
    color: white;
}
.formdiv form{
    float: left;
    width: 100%;
}
.formdiv form input{
    width: 80%;
    margin-left: 10%;
    height: 30px;
    border: none;
    border-radius: 8px;
}
.formdiv form textarea{
    width: 80%;
    margin-left: 10%;
    height: 100px;
    border-radius: 8px;

}
.formdiv form button{
    float: left;
    margin-left: 40%;
    width: 20%;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    
}
.formdiv form button:hover{
    background-color: green;
    transition: 0.5s;
    cursor: pointer;
}
#formid{
    transition: 1s;
}

.footer{
    float: left;
    background-color:  rgb(18, 22, 22);
    color: white;
    width: 100%;
    height: 80px;
    margin-top: 50px;
}
.footertext{
    background-color: rgb(18, 22, 22);
    float: left;
    width: auto;
    text-align: center;
    margin-left: 35%;
}










.aboutpage{
    float: left;
    background-color: rgb(22, 21, 21);
    width: 100%;
    height: auto;
    color: rgb(199, 72, 72);
    margin-top: 10px;

}
.aboutpage h3{
    color: red;

}





.downloadingserver{
    float: left;
    width: 50%;
    height: 600px;
    background-color: rgb(18, 22, 22);
    margin-top: 15px;
    margin-left: 25%;
    border-radius: 80px 0 80px ;
    color: white;
    text-align: center;
    box-shadow: 13px 17px 10px black;
}

.downloadinglink{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    height: 30px;
    margin-left: 30%;
    margin-top: 80px;
    box-shadow: 13px 17px 10px black;

    
}
.downloadinglink:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink a{
    text-decoration: none;
    color: white;
    
    
}



.downloadinglink1{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}
.downloadinglink1 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink1:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink2{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink2 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink2:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink3{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink3 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink3:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink4{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
 margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink4 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink4:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink5{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
   margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink5 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink5:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink6{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
  margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink6 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink6:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink7{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink7 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink7:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink8{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink8 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink8:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink9{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink9 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink9:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}
.downloadinglink10{
    float: left;
    background-color: blue;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 15px;
    margin-left: 30%;
    
    box-shadow: 13px 17px 10px black;
}

.downloadinglink10 a{
    text-decoration: none;
    color: white;
    
}
.downloadinglink10:hover{
    background-color: gray;
    border-radius: 10px 0 10px;
    transition: 0.5s;

}






















































.bubbles{
    position: absolute;
   
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}
.bubble {
    position: absolute;
    bottom: 0;
    background: transparent;
    
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2) ;
    border-radius: 50%;
    animation: flying 10s infinite ease-in;

}
.bubble:nth-child(1)
{
    height: 100px;
    width: 100px;
    animation-duration: 10s;
    left: 10%;
}
.bubble:nth-child(2)
{
    height: 50px;
    width: 50px;
    animation-duration: 6s;
    left: 20%;
}
.bubble:nth-child(3)
{
    height: 60px;
    width: 60px;
    animation-duration: 8s;
    left: 30%;
}
.bubble:nth-child(4)
{
    height: 20px;
    width: 20px;
    animation-duration: 3s;
    left: 40%;
}
.bubble:nth-child(5)
{
    height: 80px;
    width: 80px;
    animation-duration: 5s;
    left: 50%;
}
.bubble:nth-child(6)
{
    height: 10px;
    width: 10px;
    animation-duration: 2s;
    left: 60%;
}
.bubble:nth-child(7)
{
    height: 80px;
    width: 80px;
    animation-duration: 4s;
    left: 70%;
}
.bubble:nth-child(8)
{
    height: 50px;
    width: 50px;
    animation-duration: 7s;
    left: 80%;
}
.bubble:nth-child(9)
{
    height: 45px;
    width: 45px;
    animation-duration: 4.5s;
    left: 90%;
}
.bubble:nth-child(10)
{
    height: 30px;
    width: 30px;
    animation-duration: 3.5s;
    left: 95%;
}










@keyframes flying
{
    0%
    {
        bottom: -100px;
        transform: translateX(0);
    }
    50%
    {
        
        transform: translateX(110px);
    }
    100%
    {
        bottom: 768px;
        transform: translateX(-300px);
    }
}


.line{
    background-color: red;
    size: 1px ;
    border: none;
    
}















































































































































@media all and (max-width: 914px)
{
 
  nav{
    height: 50px;
    padding: 0;
    /*content-align: none;*/
    
}


nav .logo{
   font-size: 25px;
   font-weight: 200px; 
}
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .head{
        background-color: rgb(0, 0, 0);
        height: 400px;
        width: 100%;
        float: left;
        background-image: url("web1pic/pexels-sebastiaan-stam-1097456.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .head h1{
        background-color: white;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 12pt;
    }
    .home{
        width: 10%;
        background-color: rgb(18, 22, 22);
        float: left;
        margin-left: 2.5px;
        text-align: center;
        color: white;
        font-size: x-small;
    
    }
    .home a{
        text-decoration: none;
        color: white;
    }
    .home:hover{
        background-color: gray;
        transition: 0.5s;
    
    } 
    .contact{
        width: 15%;
        background-color: rgb(18, 22, 22);
        float: left;
        margin-left: 2.5px;
        text-align: center;
        color: white;
        font-size: x-small;
    
    }
    .contact a{
        text-decoration: none;
        color: white;
    } 
    .contact:hover{
        background-color: gray;
        transition: 0.5s;
    
    } 
    .about{
        width: 15%;
        background-color: rgb(18, 22, 22);
        float: left;
        margin-left: 2.5px;
        text-align: center;
        color: white;
        font-size: x-small;
    }
    .about:hover{
        background-color: gray;
        transition: 0.5s;
    
    }  
    .about a{
        text-decoration: none;
        color: white;
    }
    .searchbox {
      display: none;
     }
   
    .blank{
        width: 100%;
        height: 30px;
        background-color: rgb(170, 46, 46);
        float: left;
    
    }
    .blank marquee{
        color: yellow;
    }
    .line{
        float: left;
        background-color: black;
        width: 100%;
        height: 5px;
        
    }
    .movies{
        float: left;
        
        width: 100%;
        height: 45px;
        margin-top: 20px;
        
    }
    .movies h2 {
        margin-left: 10px;
        
    }
    .movie1{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 10px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        font-size: x-small;
        
        
    }
    .movie1 img{
        height: 195px;
    }
    .movie1:hover{
        background-color: gray;
        transition: 0.5s;
    }
    .movie1 a{
        text-decoration: none;
        color: white;
        
    }
    .movie2{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 10px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
    
    }
    .movie2 img{
        height: 195px;
    }
    .movie2:hover{
        background-color: gray;
        transition: 0.5s;
    }
    .movie2 a{
        text-decoration: none;
        color: white;
    }
    .movie3{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
    
    }
    .movie3 img{
        height: 195px;
    }
    .movie3:hover{
        background-color: gray;
        transition: 0.5s;
    }
    .movie3 a{
        text-decoration: none;
        color: white;}
    .movie4{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
        
        
        
    }
    .movie4 img{
        height: 195px;
    }
    .movie4:hover{
        background-color: gray;
        transition: 0.5s;
    }
    .movie4 a{
        text-decoration: none;
        color: white;}
    .movie5{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
    }
    .movie5 img{
        height: 195px;
    }
    .movie5:hover{
        background-color: gray;
        transition: 0.5s;
    }
    .movie5 a{
        text-decoration: none;
        color: white;}
    .movie6{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
    }
    .movie6 img{
        height: 195px;
    }
    .movie6:hover{
        background-color: gray;
        transition: 0.5s;
    }
    .movie6 a{
        text-decoration: none;
        color: white;}
    .movie7{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
    }
    .movie7 img{
        height: 195px;
    }
    .movie7:hover{
        background-color: gray;
        transition: 0.5s;
    }
    .movie7 a{
        text-decoration: none;
        color: white;}
    .movie8{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
    }
    .movie8 img{
        height: 195px;
    }
    .movie8:hover{
        background-color: gray;
        transition: 0.5s;
    }
    .movie8 a{
        text-decoration: none;
        color: white;
    }
    .movie9{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
        
    }
    .movie9 img{
        height: 195px;
    }
    .movie9:hover{
        background-color: gray;
        transition: 0.5s;
        color: black;
    }
    .movie9 a{
        text-decoration: none;
        color: white;
    }
    
     .movie10{
        float: left;
        width: 30%;
        height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        background-color: rgb(18, 22, 22);
        border: 2px solid  black;
        box-shadow: 5px 5px 5px 5px  rgb(170, 46, 46);
        color: white;
        font-size: x-small;
        
    }
    .movie10 img{
        height: 195px;
    }
    .movie10:hover{
        background-color: gray;
        transition: 0.5s;
        color: black;
    }
    .movie10 a{
        text-decoration: none;
        color: white;
    }
    
    
   
    .nextbuttondiv button{
        width: 15%;
        margin-top: 25px;
    
    }
    .nextprebtn .nextbtn{
        width: 15%;
             
    }
    .nextprebtn .prebtn{
        width: 19%;
    }
  
    .nextprebtn .pgnumber{
        width: 15%;
        font-size: x-small;
        margin-left: 84%;
    }
    
        
    }
    .formdiv{
        float: left;
        background-color: rgb(18, 22, 22);
        width: 70%;
        height: 400px;
        margin-left: 15%;
        margin-top: 50px;
        box-shadow: 20px 15px 12px 0px black;
        
    }
    .formdiv h3{
        text-align: center;
        color: white;
    }
    .formdiv form{
        float: left;
        width: 100%;
    }
    .formdiv form input{
        width: 80%;
        margin-left: 10%;
        height: 30px;
        border: none;
        border-radius: 8px;
    }
    .formdiv form textarea{
        width: 80%;
        margin-left: 10%;
        height: 100px;
        border-radius: 8px;
    
    }
    .formdiv form button{
        float: left;
        margin-left: 40%;
        width: 20%;
        height: 30px;
        background-color: black;
        color: white;
        border-radius: 8px;
        border: none;
        
    }
    .formdiv form button:hover{
        background-color: gray;
        transition: 0.5s;
    }
    
    
    .footer{
        float: left;
        background-color: rgb(18, 22, 22);
        color: white;
        width: 100%;
        height: 80px;
        margin-top: 50px;
    }
    .footertext{
        background-color: rgb(18, 22, 22);
        float: left;
        width: 60%;
        text-align: center;
        margin-left: 20%;
        font-size: x-small;
    }
    
    
    
    
    
    
    
    
    
    
    .aboutpage{
        float: left;
        background-color: rgb(22, 21, 21);
        width: 100%;
        height: auto;
        color: rgb(199, 72, 72);
        margin-top: 10px;
    
    }
    .aboutpage h3{
        color: red;
    
    }
    
    
    
    
    
    
    
    .aboutpage .formdiv{
        float: left;
        background-color: rgb(18, 22, 22);
        width: 70%;
        height: 400px;
        margin-left: 15%;
        margin-top: 50px;
        box-shadow: 20px 15px 12px 0px black;
        
    }
    .aboutpage .formdiv h3{
        text-align: center;
        color: white;
    }
    .aboutpage .formdiv form{
        float: left;
        width: 100%;
    }
    .aboutpage .formdiv form input{
        width: 80%;
        margin-left: 10%;
        height: 30px;
        border: none;
        border-radius: 8px;
    }
    .aboutpage .formdiv form textarea{
        width: 80%;
        margin-left: 10%;
        height: 100px;
        border-radius: 8px;
    
    }
    .aboutpage .formdiv form button{
        float: left;
        margin-left: 40%;
        width: 20%;
        height: 30px;
        background-color: black;
        color: white;
        border-radius: 8px;
        border: none;
        
    }
    .aboutpage .formdiv form button:hover{
        background-color: gray;
        transition: 0.5s;
    }
   
    
    .aboutpage .footer{
        float: left;
        background-color:  rgb(18, 22, 22);
        color: white;
        width: 100%;
        height: 80px;
        margin-top: 50px;
    }
    .aboutpage .footertext{
        background-color: rgb(18, 22, 22);
        float: left;
        width: 60%;
        text-align: center;
        margin-left: 20%;
        font-size: x-small;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    .downloadingserver{
        float: left;
        width: 70%;
        height: 500px;
        background-color: rgb(18, 22, 22);
        margin-top: 15px;
        margin-left: 15%;
        border-radius: 80px 0 80px ;
        color: white;
        text-align: center;
        box-shadow: 13px 17px 10px black;
    }
   
    .downloadingserver .downloadinglink{
        float: left;
        background-color: blue;
        color: white;
        width: 40%;
        text-align: center;
        height: 30px;
        margin-left: 30%;
        margin-top: 80px;
        box-shadow: 13px 17px 10px black;
        font-size: small;
    
        
    }
    .downloadingserver .downloadinglink:hover{
        background-color: gray;
        border-radius: 10px 0 10px;
        transition: 0.5s;
    
    }
    .downloadinglink a{
        text-decoration: none;
        color: white;
        
        
    }
    
    .downloadingserver .formdiv{
        float: left;
        background-color: rgb(18, 22, 22);
        width: 70%;
        height: 400px;
        margin-left: 15%;
        margin-top: 50px;
        box-shadow: 20px 15px 12px 0px black;
        
    }
    .downloadingserver .formdiv h3{
        text-align: center;
        color: white;
    }
    .downloadingserver .formdiv form{
        float: left;
        width: 100%;
    }
    .downloadingserver .formdiv form input{
        width: 80%;
        margin-left: 10%;
        height: 30px;
        border: none;
        border-radius: 8px;
    }
    .downloadingserver .formdiv form textarea{
        width: 80%;
        margin-left: 10%;
        height: 100px;
        border-radius: 8px;
    
    }
    .downloadingserver .formdiv form button{
        float: left;
        margin-left: 40%;
        width: 20%;
        height: 30px;
        background-color: black;
        color: white;
        border-radius: 8px;
        border: none;
        
    }
    .downloadingserver .formdiv form button:hover{
        background-color: gray;
        transition: 0.5s;
    }
   
    
    .downloadingserver .footer{
        float: left;
        background-color: black;
        color: white;
        width: 100%;
        height: 80px;
        margin-top: 50px;
    }
    .downloadingserver .footertext{
        background-color: rgb(18, 22, 22);
        float: left;
        width: 60%;
        text-align: center;
        margin-left: 20%;
        font-size: x-small;
    }
    



















































































